body {
    margin: 0;
    font-family: 'Arial', bold;
}

header {
    background-color: black;
    color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.logo img {
    width: 200px;
    height: 130px; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffc107;
    color: #292b2c;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ffca2c;
}

.drawer-toggle {
    display: none;
    font-size: 20px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.drawer {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color:white;
    position: absolute; 
    top: 130px;
}

.drawer a {
    color: #7A4988;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
}


#section1 {
    background: url('home.png') left/cover no-repeat;
    background-size: 50%;
    position: relative;
    height: 500px; 
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
}

.section-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.transparent-box {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(200, 200, 200, 0.5));
    padding: 90px;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
}

.transparent-box h2 {
    color: black; 
    font-size: 24px;
    margin-bottom: 10px;
}

.transparent-box p {
    color: black; 
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
}



.section-heading1 {
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
    margin-left: 10px;
    
}

.cta-button:hover {
    background-color: #ffca2c;
}

section {
    background-color: #f0f0f0;
    padding: 40px;
    text-align: center;
}

.section-heading {
    font-size: 32px;
    color: #333333;
    margin-bottom: 20px;
    font-weight: bold;
}

.section-description {
    font-size: 18px;
    color: #666666;
    margin-bottom: 30px;
    font-weight: bold;
}

.feature-box {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.feature {
    text-align: center;
    width: 100%; 
    margin-bottom: 20px;
}

.feature-icon {
    font-size: 36px;
    color: #3494e6;
}

.feature-title {
    font-size: 20px;
    color: #333333;
    margin-top: 10px;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .drawer-toggle {
        display: block;
        
    }

    nav ul {
        display: none;
    }

    .drawer a {
        display: block;
        color: black;       
       
    }
    .drawer {
       
        position: absolute; 
        top: 80px; 
    }
    .cta-button {
        padding: 8px 16px;
        font-size: 15px;
    }
    .section-heading1 {
        font-size: 25px;
        color: black;      
        
    }
    .header-content h1 {
        font-size: 20px;
    }
    .transparent-box {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(200, 200, 200, 0.5));
        padding: 50px;
        border-radius: 10px;
        max-width: 350px;
        text-align: center;
    }
    
    

}
@media screen and (max-width: 768px) {
   body .explore-jobs-button {
        font-size: 20px;
        padding: 12px 24px;
        position: absolute;
        top: 750px;
        left: 150px;
    }
}
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 40px 0;
}


.footer-top {
    text-align: center;
    margin-bottom: 20px;
}

.footer-logo {
    width: 150px;
    height: auto;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}


.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 16px;
    margin-bottom: 5px;
}

.social-icon {
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    
    
}
.footer-section a {
    color: white;
    text-decoration: none; 
}

.footer-section li {
    margin-bottom: 5px;
    
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%; 
    padding: 8px; 
}
.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
    padding: 8px;
}

.fa-linkedin {
    background: #0077B5;
    color: white;
    border-radius: 50%;
    padding: 8px;
}
.video-container {
    width: 100%;
    height: 10%;
    z-index: -1;
}


.explore-jobs-button {
    position: absolute;
    top: 900px;
    left: 200px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: black;
    font-size: 24px;
    padding: 15px 30px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s;
}

.explore-jobs-button:hover {
    background-color: transparent;
    color: black;
    font-weight: bold;
}


.glass-boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 40px; 
}

.glass-box {
    background: lightgrey;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    flex: 1;
    max-width: 300px; 
}

.glass-box img {
    width: 100%; 
    max-height: 80px;
    object-fit: contain; 
    margin-bottom: 10px;
}

.glass-box:hover {
    background: rgba(255, 255, 255, 0.2);
    color: lightgrey;
}

header {
    background-color: black;
    color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

#about {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 20px;
    color: black;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    background-color: #f0f0f0;
}

.about-background {
    flex: 1;
    text-align: left;
    margin-bottom: 20px;
}

.about-image {
    flex: 1;
    text-align: right;
    position: relative;
}

.about-image img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
    border-radius: 10px;
}

.about-content {
    max-width: 100%;
    margin: 0 auto;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: bold;
}

#about p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #555555;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    #about {
        padding: 40px 10px;
    }

    .about-background,
    .about-image {
        flex: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .glass-boxes {
        flex-direction: column;
        align-items: center;
    }

    .glass-box {
        margin-top: 20px;
    }
}

#services {
    padding: 80px 0;
    text-align: center;
    background-color: white;
    color: black;
}



.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 2000px;
}

.service {
    width: 100%;
    height: 400px;
    margin: 0 0 20px 0;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.service:hover {
    transform: rotateY(180deg);
}

.page {
    width: 100%;
    height: 100%;
    background-color: #e5e4e2;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform-origin: left;
    position: relative;
}

.page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

.page h3 {
    font-size: 24px;
    margin: 10px 0;
}

.page p {
    font-size: 16px;
    color: black;
    font-weight: bold;
}


@media screen and (min-width: 768px) {
    .book {
        flex-direction: row;
        justify-content: space-around;
    }

    .service {
        width: calc(33.33% - 20px);
        margin: 0 10px;
    }
}

@media only screen and (max-width: 480px) {
    .header-content h1 {
        font-size: 28px;
    }

    .cta-button {
        padding: 8px 16px;
        font-size: 10px; 
    }
    
   
    
}


@media only screen and (min-width: 768px) {
    .feature {
        width: 30%;
    }

}
